<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>



<% if current_user != nil %>
<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
     
        <input type="hidden" name="query_owner_id" value="<%= current_user.id %>>

        <label for="browser_input_image">
          Image
        </label>

        <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">

        <label for="caption_box">
          Caption
        </label>
         <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>
<%end%>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Likes count
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
        <tr>

          <td>
            <img src="<%= a_photo.image %>" style="width:250px;">
          </td>

          <td>
            <%= a_photo.caption %>
          </td>

          <td>
            <%= a_photo.user.username%>
          </td>

          <td>
            <%= a_photo.likes_count %>
          </td>

          <td>
            <%= time_ago_in_words(a_photo.created_at) %> ago
          </td>

          <td>
            <a href="/photos/<%= a_photo.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
