<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <% if current_user.id == @the_photo.owner_id%>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    <%end%>

    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.user.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% @the_photo.likes.each do |a_like| %>
          <%=a_like.fan.username%>,
        <%end%>
      </dd>

      <dt>
        Add fan
      </dt>
      <dd>
        <form>
          <button>
            Like
          </button>
        </form>
      </dd>
    </dl>
  </div>
</div>

<h2>Comments</h2>

<hr>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |a_comment| %>

    <tr>
      <td>
        <%=a_comment.viewer_user.username%>
      </td>

      <td>
        <%=a_comment.body%>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %> ago 
      </td>
    </tr>

  <%end%>
</table>

    <% if current_user.id == @the_photo.owner_id%>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

<dt>Edit photo</dt>
  <dd>
    <form action="/modify_photo/<%= @the_photo.id %>" method="post">
      <label for="browser_image">Image URL</label>
      <input id="browser_image" type="text" name="query_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">
    
      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>
    
      <button>Update photo</button>
    </form>
  </dd>

<dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%= @the_photo.id %>">
      Delete this photo
    </a>
  </dd>
   
  </div>
</div>

<% else %>
<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">

  <input type="hidden" value="<%=current_user.id%>" name="query_author_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>


    <%end%>
<hr>
